<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anna.sejarahjakarta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
<uses-permission android:name="net.agusharyanto.petalokasi.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="anna.sejarahjakarta.splash.Splash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="anna.sejarahjakarta.Home"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="anna.sejarahjakarta.MenuUtama"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="anna.sejarahjakarta.Profile"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="anna.sejarahjakarta.Maps"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="anna.sejarahjakarta.MapsAll"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="anna.sejarahjakarta.Wilayah"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="anna.sejarahjakarta.Wisata"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="anna.sejarahjakarta.AboutMe"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAr4uBY1VhuAOh-DoKhmGfd_FfnneZ5Dx4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
